$purple: #8d53ff;
$white: #f8f8f8;
$black: #232323;
$lightBlack: #373737;
$darkGray: #656565;
$red: #ff6057;
$green: #27c93f;
$lightGray: #a1a1a1;

$transition: all 250ms ease;

.shadowed {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
